@import url("//hello.myfonts.net/count/481bb9");
  
@font-face {
  font-family: "SregsSerifDisplay-MedIta";
  src: url('fonts/webFonts/SregsSerifDisplayMedIta/font.woff2') format('woff2'), url('fonts/webFonts/SregsSerifDisplayMedIta/font.woff') format('woff');
}
@font-face {
  font-family: "Recoleta-Bold";
  src: url('fonts/webFonts/RecoletaBold/font.woff2') format('woff2'), url('fonts/webFonts/RecoletaBold/font.woff') format('woff');
}
@font-face {
  font-family: "Recoleta-Regular";
  src: url('fonts/webFonts/RecoletaRegular/font.woff2') format('woff2'), url('fonts/webFonts/RecoletaRegular/font.woff') format('woff');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollableText ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollableText ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 2px;
}
 
/* Handle */
.scrollableText ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px rgb(53, 53, 53); 
  background: rgb(94, 94, 94); 
  border-radius: 2px;
}

/* Handle on hover */
.scrollableText ::-webkit-scrollbar-thumb:hover {
  background: #d6e8e9; 
}
