@media (min-width: 2400px) {
  h1 {
    font-size: 72px;
  }
  .italics {
    font-size: 36px;
  }
  .textSideBoxRight {
    padding: 0;
    padding-right: 0vw;
  }
  .textSideBoxLeft {
    padding: 0;
    padding-left: 0vw;
  }
  .scrollableText {
    height: 50vh;
  }
}
@media (min-width: 1800px) {
  h1 {
    font-size: 64px;
  }
  .italics {
    font-size: 30px;
  }
  .textSideBoxRight {
    padding: 0;
    padding-right: 6vw;
  }
  .textSideBoxLeft {
    padding: 0;
    padding-left: 6vw;
  }
  .scrollableText {
    height: 55vh;
  }
}
@media (max-width: 1025px) {

  h1 {
    font-size: 44px;
  }
  .italics {
    font-size: 22px;
  }
  .sideBoxImg2{
    padding-left: 25px;
    width: 100%
  }
  .textSideBoxRight {
    margin-left: 3vw;
    padding-right: 15vw;
    padding-left: 5vw;
  }
  .textSideBoxLeft {
    margin-right: 3vw;
    padding-left: 15vw;
    padding-right: 5vw;
  }
  .scrollableText {
    height: 60vh;
  }
}

@media (max-width: 769px) {

  h1 {
    font-size: 40px;
    letter-spacing: 5px;

  }
  .italics {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .threeBars {
    display: inline-block;
    position: fixed;
    right: 5vw;
    top: 3vw;
    cursor: pointer;
  }
  .menu {
    right: 5vw;
    width: 90vw;   
  }
  .sideBoxImg2{
    padding-left: 15px;
    width: 100%
  }
  .scrollableText {
    height: 50vh;
  }
}

@media (max-width: 450px) {
  .content {
    margin-top: 5vh;
  }

  .pageHeader > h1 {
    margin-bottom: 5px;
  }
  h1 {
    font-size: 34px;
    letter-spacing: 4px;

  }
  .italics {
    font-size: 15px;
    letter-spacing: 1px;
  }
  .textSideBoxRight {
    padding: 0 15vw;
    margin: 0;
    margin-left: 0vw;
  }

  .textSideBoxLeft {
    padding: 0 10vw;
    margin: 0;
    margin-right: 0vw;
  }
  .textSideBoxLeft2 {
    padding: 0 5vw;
    margin: 0;
    margin-right: 0vw;
  }
  .sideBoxImg {
    padding-top: 5px;
    width: 75%
  }
  .imageBoxImg {
    width: 75%;
  }
  .sideBoxImg2 {
    padding-left: 5vw;
    width: 85vw;
  }
  .sideBox2 {
    /* background-color: white; */
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 400;
    padding: 0 0vw;
  }
  .imageBoxImg {
    padding-top: 50px;
  }
  .textBox {
    text-align: center;
    font-weight: 500;
    padding: 15vh 10vw;
  }
  .galleryPopup {
    visibility: hidden;
  }
  .fadeout {
    opacity: 100%;
  }
  i{
    padding:15px;
  }
  .scrollableText {
    height: 30vh;
  }
}
@media (max-width: 380px) {
  h1 {
    font-size: 30px;
    letter-spacing: 4px;

  }
  .italics {
    font-size: 13px;
    letter-spacing: 1px;
  }
  .sideBox2{
    font-size: 13px;
  }
}
@media (max-width: 325px) {
  h1 {
    font-size: 28px;
    letter-spacing: 3px;

  }
  .italics {
    font-size: 12px;
    letter-spacing: 1px;
    .sideBox2{
      font-size: 12px;
    }
  }
  .scrollableText {
    height: 25vh;
  }
}