@media (min-width: 2400px) {
  h1 {
    font-size: 72px;
  }
  .italics {
    font-size: 36px;
  }
  .textSideBoxRight {
    padding: 0;
    padding-right: 0vw;
  }
  .textSideBoxLeft {
    padding: 0;
    padding-left: 0vw;
  }

  .headOnTopBoxWide {
    height: auto;
    width: 90vw;
    text-align: center;
  
    .headOnTopImage {
      height: auto;
      width: 100%;
    }
  }
  .pageHeader > h1 {
    font-size: 144px;
  }
  .project2022header {
    font-size: 94px;
  }
  .project2022paragraph {
    font-size: 56px;
  }
  .frontGifText {
    font-size: 74px;
  }
  .frontFont{
    font-size: 108px;
  }
  .frontLink > p {
    font-size: 46px;
  }
  // .frontGifText {
  //   top: 22%;
  // }
}

@media (min-width: 1800px) and (max-width: 2400px) {
  h1 {
    font-size: 72px;
  }
  .italics {
    font-size: 30px;
  }
  .textSideBoxRight {
    padding: 0;
    padding-right: 6vw;
  }
  .textSideBoxLeft {
    padding: 0;
    padding-left: 6vw;
  }
  .pageHeader > h1 {
    font-size: 120px;
  }
  .frontGifText {
    font-size: 60px;
  }
  .frontFont{
    font-size: 100px;
  }
  .frontLink > p {
    font-size: 56px;
  }
}
@media (max-width: 1441px) {

  .frontFont {
    font-size: 38px;
  }
}

@media (max-width: 1200px) {
  .project2022header {
    font-size: 36px;
  }
  .project2022paragraph {
    font-size: 26px;
  }
  .overImage {
    top: 15%;
  }
  .overImageHead {
    top: 25%;
  }
  .heightLimitDiv {
    width: 104%;
    left: -2.2vw;
    width: 105%;
  }
  .frontGifText {
    // top: 15%;
    font-size: 32px;
  }
  .frontFont{
    font-size: 50px;
  }
  .frontLink > p {
    font-size: 32px;
  }
}

@media (max-width: 1025px) {

  h1 {
    font-size: 44px;
  }
  .italics {
    font-size: 22px;
  }
  .sideBoxImg2{
    padding-left: 25px;
    width: 100%
  }
  .contact {
    font-size: 16px;
  }
  .textSideBoxRight {
    margin-left: 3vw;
    padding-right: 15vw;
    padding-left: 5vw;
  }
  .textSideBoxLeft {
    margin-right: 3vw;
    padding-left: 15vw;
    padding-right: 5vw;
  }
  .contactFrame {
    font-size: 14px;
  }
  .pageHeader > h1 {
    font-size: 80px;
  }
  .donateLinkImg {
    width: 17.5%;
  }
  .project2022header {
    font-size: 30px;
  }
  .project2022paragraph {
    font-size: 24px;
  }
  .overImage {
    top: 15%;
  }
  .overImageHead {
    top: 30%;
  }
  .heightLimitDiv {
    left: -2.5vw;
    width: 105.25%;
  }
  .frontGifText {
    margin-top: 10vh;
    font-size: 28px;
  }
  .frontFont{
    font-size: 44px;
  }
  .frontLink > p {
    font-size: 24px;
  }
  .frontGifContainer {
    height: 101vh;
    background-size: 180%;
  }
}

@media (max-width: 769px) {

  h1 {
    font-size: 40px;
    letter-spacing: 0;

  }
  .italics {
    font-size: 18px;
    letter-spacing: 0;
  }
  .threeBars {
    display: inline-block;
    position: fixed;
    right: 5vw;
    top: 3vw;
    cursor: pointer;
  }
  .menu {
    right: 5vw;
    width: 90vw;   
  }
  .sideBoxImg2{
    padding-left: 15px;
    width: 100%
  }
  .contact {
    font-size: 14px;
  }
  .contactInfoBottom {
    position: relative;
    top: 0px;
  }
  .contactFrame {
    font-size: 12px;
  }
  .frontGif {
    width: 75%;
  }
  .linkButton {
    width: 20%;
  }
  .linkButtonLeft {
    width: 30%;
    position: relative;
    margin-right: 2vw;
    float: right;
  }
  
  .linkButtonRight {
    width: 30%;
    position: relative;
    margin-left: 2vw;
    float: left;
  }
  .pageHeader > h1 {
    font-size: 75px;
  }

  .mapImgWrapper {
    overflow: visible;
  }
  .mapImg {
    position: relative;
    overflow: hidden;
    top: 0%;
    left: 0%;
    width: 100%;
    opacity: 40%;
  }
  .donateLinkImg {
    width: 25%;
  }
  .frontFont {
    font-size: 22px;
  }
  .sideBoxImg2 {
    padding-right: 3vw;
  }
  .project2022header {
    font-size: 30px;
  }
  .project2022paragraph {
    font-size: 22px;
  }
  .overImage {
    top: 10%;
  }
  .overImageHead {
    top: 30%;
  }
  .heightLimitDiv {
    width: 106.8%;
    left: -3.1vw;
    height: 104vh;
  }
  .heightDiv {
    height: 60vw;
  }
  .frontGifText {
    font-size: 24px;
    left: 15%;
  }
  .frontFont{
    font-size: 36px;
  }
  .frontLink > p {
    font-size: 20px;
  }
  .frontGif {
    width: 100%;
  }
  .frontGifContainer {
    height: 101vh;
    background-size: 220%;
  }
  .project2022Link {
    width: 20%;
  }
}

@media (max-width: 680px) {
  .frontGifText {
    // top: 20%;
    font-size: 22px;
  }
  .frontFont{
    font-size: 32px;
  }
  .frontLink > p {
    font-size: 18px;
  }
  .frontGifContainer {
    background-size: 240%;
  }
}

@media (max-width: 600px) {
  .frontGifContainer {
    width: 100%;
    left: 0vw;
    position: relative;
    background-size: 120%;
    height: 90vw;
    margin-bottom: 5vw;
  }
  .frontGifText {
    margin-top: 0;
    top: 25%;
    font-size: 22px;
  }
  .portfolioHeader {
    padding-left: 7%;
  }
  .scrollableText {
    letter-spacing: 0;
    padding-left: 5%;
    padding-right: 5%;
  }
  .pageHeader > h1{
    font-size: 55px;
  }
  .project2022Link {
    width: 25%;
  }
}
@media (max-width: 450px) {
  .content {
    margin-top: 5vh;
  }

  .pageHeader > h1 {
    margin-bottom: 5px;
  }
  h1 {
    font-size: 34px;
    letter-spacing: 0;

  }
  .italics {
    font-size: 15px;
    letter-spacing: 0;
  }
  .textSideBoxRight {
    padding: 0 15vw;
    margin: 0;
    margin-left: 0vw;
  }
  .contactImg {
    width:90%;
  }
  .contactFrame {
    font-size: 16px;
  }
  .contactInfoBottom {
    padding: 0;
    margin: 0;
    font-size: 18px;
    margin-left: 5%;
  }
  .contactInfoTop {
    padding: 0;
    margin: 0;
    font-size: 18px;
    margin-left: 5%;
  }
  .textSideBoxLeft {
    padding: 0 10vw;
    margin: 0;
    margin-right: 0vw;
  }
  .textSideBoxLeft2 {
    padding: 0 5vw;
    margin: 0;
    margin-right: 0vw;
  }
  .sideBoxImg {
    padding-top: 5px;
    width: 75%
  }
  .imageBoxImg {
    width: 75%;
  }
  .sideBoxImg2 {
    padding-right: 0vw;
    padding-left: 3vw;
    width: 97%;
  }
  .sideBox2 {
    /* background-color: white; */
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 400;
    padding: 0 0vw;
  }
  .imageBoxImg {
    padding-top: 50px;
  }
  .textBox {
    text-align: center;
    font-weight: 500;
    padding: 15vh 10vw;
  }
  .headOnTopBoxWide {
    height: auto;
    width: 90vw;
    text-align: center;
  
    .headOnTopImage {
      height: auto;
      width: 100%;

    }
  }
  .galleryPopup {
    visibility: hidden;
  }
  .fadeout {
    opacity: 100%;
  }
  i{
    padding:15px;
  }
  .scrollableImgs {
    width: 100%;
    margin: 0;
    padding-left: 0;
    overflow: visible
  }
  .frontRightContainer {
    top: -10%;
  }
  .frontGifContainer {
    position: relative;
    top: -5vw;
    width: 100%;
    height: 80vw;
    clip-path: none;
  }
  .frontGif {
    top: -0vh;
    left: 0%;
    height: 100%;
    width: 100%;
    left: -0%;
    margin-top: 3%;
  }
  .frontGifText {
    top: 12.5%;
    margin-top: 0;
    font-size: 20px;
    left: 10%;
    width: 80%;
    padding: 0
  }
  iframe {
    width: 0;
  }
  
  .frontFont {
    text-align: center;
    font-size: 32px;
    padding-right: 0;
  }
  .linkButton {
    width: 25%;
  }
  .linkButtonLeft {
    padding-top: 30vw;
    width: 30%;
    float: none;
    display:block;
    margin:auto;
  }
  
  .linkButtonRight {
    top: 3vw;
    width: 30%;
    float: none;
    display:block;
    margin:auto;
  }
  .clubTexts {
    padding-left: 0;
    font-size: 18px;
  }
  .map {
    padding-left: 0%;
    width: 100%;
  }
  .project2020Texts {
    padding-left: 0%;
    font-size: 16px;
  }  
  .trailImg {
    padding-left: 0%;
    width: 100%;
  }
  .mieliLinkImg {
    position: relative;
    width: 60%;
  }
  .mieliLink {
    top: 20px;
  }

  .splitscreen {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -99;
    top: 0;
    overflow-x: hidden;
    padding-top: 0px;
  }
  .rightSplit {
    display: none
  }
  .pageHeader > h1 {
    font-size: 40px;
  }
  .donateLinkImg {
    width: 40%;
  }
  .sideBoxImg2 {
    padding-right: 3vw;
  }
  .verticalBackgroundImage {
    padding-top: 10vw;
  }
  .project2022header {
    font-size: 24px;
  }
  .project2022paragraph {
    font-size: 15px;
  }
  .overImage {
    top: 10%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .heightLimitDiv {
    width: 108%;
    left: -3.7vw;
    height: 60vh;
  }
  .overImageHead {
    top: 30%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .heightDiv {
    height: 72vw;
  }
  .project2022Link {
    width: 30%;
  }
  .frontLeftGrid {
    height: 80vw;
  }
}
@media (max-width: 425px) {
  .heightLimitDiv {
    width: 109%;
    left: -4vw;
  }
}
@media (max-width: 400px) {
  .heightLimitDiv {
    width: 109.5%;
    left: -4.2vw;
  }
}
@media (max-width: 380px) {
  .contactInfoBottom {
    font-size: 14px;
  }
  .contactInfoTop {
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
    letter-spacing: 0;
  }
  .italics {
    font-size: 13px;
    letter-spacing: 0px;
  }
  .sideBox2{
    font-size: 13px;
  }
  .pageHeader > h1 {
    font-size: 32px;
  }
  .donateLinkImg {
    width: 50%;
  }
  .mieliLink {
    top: 20px;
  }
  .frontFont {
    font-size: 26px;
  }
  .frontLink > p {
    font-size: 18px;
  }
  .frontGifContainer {
    height: 90vw;
  }
  .frontGifText {
    top: 12.5%;
    font-size: 18px;
  }
  .project2022header {
    font-size: 20px;
  }
  .project2022paragraph {
    font-size: 14px;
  }
  .heightLimitDiv {
    width: 109.7%;
    left: -4.4vw;
    height: 55vh;
  }
}
@media (max-width: 350px) {
  .heightLimitDiv {
    width: 110.5%;
    left: -4.6vw;
  }
}
@media (max-width: 325px) {
  h1 {
    font-size: 28px;
    letter-spacing: 0;

  }
  .italics {
    font-size: 12px;
    letter-spacing: 0;
    .sideBox2{
      font-size: 12px;
    }
  }
  .frontFont {
    font-size: 22px;
  }
  .frontLink > p {
    font-size: 14px;
  }
  .frontGifText {
    top: 12.5%;
    font-size: 16px;
  }
  .heightLimitDiv {
    width: 111.5%;
    left: -5vw;
    height: 60vh;
  }
}
@media (orientation: landscape) and (min-width: 0px) and (max-width: 900px) and (max-height: 320px) and (min-height: 0px)  {
  .frontGifText {
    margin-top: 12.5vh;
    top: -0;
    width: 90%;
    left: 5%;
    font-size: 18px;
  }
  .frontGifContainer {
    top: -2vh;
    left: 0;
    width: 100%;
    height: 90vh;
  }
}

@media (orientation: landscape) and (min-width: 0px) and (max-width: 900px) and (max-height: 360px) and (min-height: 320px)  {
  .frontGifText {
    margin-top: 12.5vh;
    top: -0;
    width: 90%;
    left: 5%;
    font-size: 20px;
  }
  .frontGifContainer {
    top: -2vh;
    left: 0;
    width: 100%;
    height: 90vh;
  }
}
@media (orientation: landscape) and (min-width: 0px) and (max-width: 1024px) and (max-height: 400px) and (min-height: 360px) {
  .frontGifText {
    font-size: 22px;
  }
  .frontGifText {
    margin-top: 12.5vh;
    top: -0;
    width: 90%;
    left: 5%;
  }
  .frontGifContainer {
    top: -2vh;
    left: 0;
    width: 100%;
    height: 90vh;
  }
}
@media (orientation: landscape) and (min-width: 0px) and (max-width: 1024px) and (max-height: 480px) and (min-height: 400px) {
  .frontGifText {
    font-size: 24px;
  }
  .frontGifText {
    margin-top: 12.5vh;
    top: -0;
    width: 90%;
    left: 5%;
  }
  .frontGifContainer {
    top: -2vh;
    left: 0;
    width: 100%;
    height: 90vh;
  }
}
