body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  /* background-color: #cfe8fc; */
  height: 80vh;
  font-family: Montserrat;
  font-weight: medium;
  margin: 5vh 0;
  padding: 1vw;
  letter-spacing: 0;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu {
  max-height: 0;
  border: solid 2px black;
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  font-size: 15px;
  top: 50px;
  right: 40px;
  width: 250px;
  margin-top: 1em;
  padding: 1em 1em;
  border-radius: 1px;
  padding-bottom: 4em;
  background-color: white;
  transition: visibility 0.3s linear, max-height 0.3s linear;
  z-index: 99;
}
.change .menu {
  visibility: visible;
  max-height: 100vh;
  transition: max-height 0.4s linear;
}

.menuLink {
  display: block;
  padding: 0.8em 0.5em;
  font-family: Montserrat;
  letter-spacing: 1px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.menuLink:hover {
  cursor: pointer; 
}

.menuPortfolioLink {
  display: block;
  padding: 0.5em 1em;
  font-size: 11px;
  font-family: Montserrat;
  letter-spacing: 0px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.menuPortfolioLink:hover {
  cursor: pointer; 
}
.highlight {
  text-decoration: underline;
}

.threeBars {
  display: inline-block;
  position: fixed;
  right: 40px;
  top: 30px;
  cursor: pointer;
  z-index: 99;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px) ;
  transform: rotate(-45deg) translate(-5px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -8px) ;
  transform: rotate(45deg) translate(-7px, -8px) ;
}

.sideBox {
  /* background-color: white; */
  font-size: 26px;
  text-align: center;
  font-weight: 400;
  padding: 0 0vw;
}

.sideBox2 {
  /* background-color: white; */
  text-align: left;
  font-size: 23px;
  font-weight: 500;
  padding: 0 0vw;
  width: 60%
}
.sideBoxImg {
  padding-top: 5px;
  width: 60%
}
.sideBoxImg2 {
  padding-top: 5px;
  padding-left: 15%;
  width: 85%
}
.sideBoxImg2:hover {
  cursor: pointer; 
}
.sideBoxImg3 {
  padding-top: 8px;
  padding-left: 45px;
  width: 100%
}
.textSideBoxRight {
  padding: 0;
  margin: 0;
  margin-left: 3vw;
  padding-right: 10vw;
  padding-left: 2.5vw;
}
.textSideBoxLeft {
  padding: 0;
  margin: 0;
  margin-right: 3vw;
  padding-left: 10vw;
  padding-right: 2.5vw;
}
.textSideBoxRight2 {
  padding: 0;
  margin: 0;

}
.textSideBoxLeft2 {
  padding: 0;
  margin: 0;
}
.imageBox{
  text-align: center
}
.imageBoxImg {
  width: 65%;
}
.headOnTopBoxNarrow {
  height: 65vh;
  text-align: center;

  .headOnTopImage {
    height: 100%;
  }
}
.headOnTopBoxWide {
  height: 65vh;
  text-align: center;

  .headOnTopImage {
    height: 100%;
  }
}

.textBox {
  text-align: center;
  font-weight: 500;
  padding: 15vh 7.5vw;
}
.italics {
  font-style: italic;
}
.centerBox {
  /* background-color: white; */
  text-align: center;
}
.pageHeader {
  margin: 0;
  padding: 0;
}

.pageHeader > h1 {
  letter-spacing: 0;
  margin-bottom: 25px;
}

.portfolioHeader {
  text-align: left;
  font-style: normal;
  padding-left: 2.3%;
  margin: 0;
  font-size: 60px;
  font-weight: 500;
}

h1 {
  text-align: center;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 52px;
  font-weight: 500;
}

.frontpageRoll {
  padding-top: 5vh;
  top: 87.5vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.circleLink {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: darkgreen;
  display: inline-block;
  margin: 0px 8px;
}
.circleLink:hover {
  background: lightblue
}
.m-fadeOut {
  //opacity: 0;
  transition: linear 1000ms, opacity 1000ms;
}

.m-fadeIn {
  transition: linear 1000ms, opacity 1000ms;
  opacity: 1;
}
.galleryPopup {
  position: fixed;
  width: 100vw;
  left:0;
  top: 10vh;
  text-align: center;
}
.galleryPopupImg {
  max-width: 100%;
  max-height: 80vh;
}
.closeGallery {
  z-index: 10;
  font-size: 24px;
}
.closeGallery:hover {
  cursor: pointer;
  text-decoration: underline;
}

.fadeout{
  opacity: 30%;
}

i {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 25px;
}
i:hover {
  cursor: pointer;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  float: left;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  float: right;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.scrollableText {
  padding-left: 5%;
  padding-right: 10%;
  font-weight: 550;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollableImgs {
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 1em;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.infoText {
  font-size: 28px;
  padding: 5vw;
  text-align: center;
}
.videoCont{
  padding-top: 0px;
}

.galleryImgText{
  font-weight: 500;
  font-size: 16px;
}
.gallery1Img{
  width:100%;
}

.gallery2Img{
  width:100%;
}
.gallery3{
  position: relative;
  top: 0;
}
.gallery3Img{
  width:100%;
}
.gallery4{
  position: relative;
  top: 0;
}
.gallery4Img{
  width:100%;
}
.contact {
  font-weight: 500;
  font-size: 22px;
}
.contactImg {
  width:100%;
}
.contactInfoBottom {
  position: relative;
  top: -40px;
}
.contactFrame {
  text-align: center;
}
.contactName {
  margin-bottom: 0;
}
.contactPhone {
  margin-top: 0;
}

/* set button(top and bottom of the scrollbar) */
.scrollableText::-webkit-scrollbar-button {display:none}

.scrollableText::-webkit-scrollbar {display:none}

.scrollableImgs::-webkit-scrollbar-button {display:none}

.scrollableImgs::-webkit-scrollbar {display:none}

.testtt{
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.clubDayFirst {
  margin-bottom: 0;
}
.clubDay {
  margin-top: 0;
  margin-bottom: 0;
}
.clubDayLast {
  margin-top: 0;
}

.frontGif {
  top: -0%;
  width: 75%;
  left: 12.5%;
  position: relative;
}

.frontFont {
  text-align: left;
  font-size: 45px;
  padding-right: 20%;
}
.clubTexts {
  font-size: 18px;
  padding-left: 10%
}
.map {
  padding-left: 20%;
  width: 80%;
}
.linkButtonLink {
  margin-top: 10vh;
}
.linkButton {
  margin-top: 25vw;
  width: 30%;
  display:block;
  margin:auto;
}
.linkButtonLeft {
  width: 50%;
  position: relative;
  margin-right: 2vw;
  float: right;
}

.linkButtonRight {
  width: 50%;
  position: relative;
  margin-left: 2vw;
  float: left;
}
.linkButton:hover {
  opacity: 50%;
  
}
.project2020text {
  font-weight: 500;
}
.project2020textFirst {
  font-weight: 500;
  margin-bottom: 0;
}
.project2020Texts {
  padding-left: 10%;
  font-size: 18px;
}
.project2020Texts {
  padding-left: 10%;
  font-size: 22px;
}
.mieliLink {
  position: relative;
  top: -12.5vw;
}
.mieliLinkImg {
  position: relative;
  width: 25%;
  display:block;
  margin:auto;
  margin-bottom: 0vw;
}

.donateLink {
  position: relative;
  top: 0vh;
}

.donateLinkImg {
  position: relative;
  width: 10%;
  display:block;
  margin:auto;
}

.trailImg {
  padding-left: 20%;
  width: 80%;
}

.mapImgWrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.mapImg {
  position: relative;
  overflow: hidden;
  top: -10%;
  left: 60%;
  width: 60%;
  opacity: 60%;
}

.splitscreen {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -99;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.leftSplit {
  left: 0;
  background-color: #f4972d;
}

/* Control the left side */
.leftSplit2 {
  left: 0;
  background-color: #f4972d2e;
}

/* Control the right side */
.rightSplit {
  right: 0;
  background-color: white;
}

.project2021Texts {
  background-image: url("../img/project2021/background.gif");
  background-size: 100% 100%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.project2021text {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  padding: 0 0vw;
}

.frontcont {
  height: 90vh;
}