body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  /* background-color: #cfe8fc; */
  height: 90vh;
  font-family: Montserrat;
  font-weight: medium;
  margin: 5vh 0;
  padding: 1vw;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu {
  max-height: 0;
  border: solid 2px black;
  position: fixed;
  overflow: hidden;
  visibility: hidden;
  font-size: 15px;
  top: 50px;
  right: 40px;
  width: 250px;
  margin-top: 1em;
  padding: 1em 1em;
  border-radius: 1px;
  padding-bottom: 4em;
  background-color: white;
  transition: visibility 0.3s linear, max-height 0.3s linear;
  z-index: 99;
}
.change .menu {
  visibility: visible;
  max-height: 100vh;
  transition: max-height 0.4s linear;
}

.menuLink {
  display: block;
  padding: 0.8em 0.5em;
  font-family: Montserrat;
  letter-spacing: 1px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.menuLink:hover {
  cursor: pointer; 
}

.menuPortfolioLink {
  display: block;
  padding: 0.5em 1em;
  font-size: 11px;
  font-family: Montserrat;
  letter-spacing: 0px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
.menuPortfolioLink:hover {
  cursor: pointer; 
}
.highlight {
  text-decoration: underline;
}

.threeBars {
  display: inline-block;
  position: fixed;
  right: 40px;
  top: 30px;
  cursor: pointer;
  z-index: 99;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px) ;
  transform: rotate(-45deg) translate(-5px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -8px) ;
  transform: rotate(45deg) translate(-7px, -8px) ;
}

.sideBox {
  /* background-color: white; */
  font-size: 26px;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 400;
  padding: 0 0vw;
}

.sideBox2 {
  /* background-color: white; */
  text-align: left;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 400;
  padding: 0 0vw;
  width: 60%
}
.sideBoxImg {
  padding-top: 5px;
  width: 60%
}
.sideBoxImg2 {
  padding-top: 5px;
  padding-left: 45px;
  width: 90%
}
.sideBoxImg2:hover {
  cursor: pointer; 
}
.sideBoxImg3 {
  padding-top: 8px;
  padding-left: 45px;
  width: 100%
}
.textSideBoxRight {
  padding: 0;
  margin: 0;
  margin-left: 3vw;
  padding-right: 10vw;
  padding-left: 2.5vw;
}
.textSideBoxLeft {
  padding: 0;
  margin: 0;
  margin-right: 3vw;
  padding-left: 10vw;
  padding-right: 2.5vw;
}
.textSideBoxRight2 {
  padding: 0;
  margin: 0;

}
.textSideBoxLeft2 {
  padding: 0;
  margin: 0;
}
.imageBox{
  text-align: center
}
.imageBoxImg {
  width: 65%;
}
.headOnTopBoxNarrow {
  height: 65vh;
  text-align: center;

  .headOnTopImage {
    height: 100%;
  }
}
.headOnTopBoxWide {
  height: 65vh;
  text-align: center;

  .headOnTopImage {
    height: 100%;
  }
}

.textBox {
  text-align: center;
  font-weight: 500;
  padding: 15vh 7.5vw;
}
.italics {
  font-style: italic;
}
.centerBox {
  /* background-color: white; */
  text-align: center;
}
.pageHeader {
  margin: 0;
  padding: 0;

}

.pageHeader > h1 {
  margin-bottom: 25px;
}

h1 {
  text-align: center;
  letter-spacing: 6px;
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 52px;
  font-weight: 500;
}

.frontpageRoll {
  padding-top: 5vh;
  top: 87.5vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.circleLink {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: darkgreen;
  display: inline-block;
  margin: 0px 8px;
}
.circleLink:hover {
  background: lightblue
}
.m-fadeOut {
  //opacity: 0;
  transition: linear 1000ms, opacity 1000ms;
}

.m-fadeIn {
  transition: linear 1000ms, opacity 1000ms;
  opacity: 1;
}
.galleryPopup {
  position: fixed;
  width: 100vw;
  left:0;
  top: 10vh;
  text-align: center;
}
.galleryPopupImg {
  max-width: 100%;
  max-height: 80vh;
}
.closeGallery {
  z-index: 10;
  font-size: 24px;
}
.closeGallery:hover {
  cursor: pointer;
  text-decoration: underline;
}

.fadeout{
  opacity: 30%;
}

i {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 25px;
}
i:hover {
  cursor: pointer;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  float: left;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  float: right;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.scrollableText {
  overflow: auto;
  height: 70vh;
}
.infoText {
  font-size: 28px;
  text-align: center;
}
.videoCont{
  padding-top: 0px;
}

.galleryImgText{
  font-weight: 500;
  font-size: 16px;
}
.gallery1Img{
  width:100%;
}

.gallery2Img{
  width:100%;
}
.gallery3{
  position: relative;
  top: 0;
}
.gallery3Img{
  width:100%;
}
.gallery4{
  position: relative;
  top: 0;
}
.gallery4Img{
  width:100%;
}
.contact {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 16px;
}
.contactImg {
  width:100%;
}
.contactInfoBottom {
  position: relative;
  top: -40px;
}
.contactFrame {
  text-align: center;
}
.contactName {
  margin-bottom: 0;
}
.contactPhone {
  margin-top: 0;
}
.scrollableText::-webkit-scrollbar {
  background-color:#fafafa;
  width:16px
}

/* background of the scrollbar except button or resizer */
.scrollableText::-webkit-scrollbar-track {
  background-color:#fafafa;
}

/* scrollbar itself */
.scrollableText::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:3px solid #fafafa;
}

/* set button(top and bottom of the scrollbar) */
.scrollableText::-webkit-scrollbar-button {display:none}